/*
Estilos CSS de menu de DVD
Author: Jorge A. Claros L.
*/

body {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
}

h1 {
	text-align: center;
	color: white;
}

td {
	font-weight: bold;
	color: white;
}

.tableprin {
	width: 100%;
}

.right {
	width: 10%;
}

.right {
	width: 90%;
}

.title{
	background-color: white;
}
.header{
	background-color: white;
	color: #FF8E2A;
}
.subtit{
	background-color: black;
	font-size: 18px;
}

button{
	background-color: green;
	color: white;
	font-size: 18px;
}

.btnins {
	background-color: #00FF80;
	color: black;
	border: none;
	padding: 5px;
	font-size: 25px;	
}